
/* INDEX.HTML */
body.index {
  position: relative;
  background-image: url("imagenes/index_fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto';
  font-size: 20px;
  margin: 0;
  padding: 0;
}

body.index .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* fondo blanco semitransparente */
  z-index: -1;
}

body.index h1,
body.index h2 {
  text-align: center;
  font-family: 'DreamingOutloud', cursive;
  font-size: 36px;
}
body.index h3 {
  text-align: center;
  font-family: 'Roboto';
  font-size: 20px;
}
.fuente-segundo-parrafo {
  font-family: 'Poppins', sans-serif; /* Puedes cambiar 'Georgia' por cualquier otra */
  font-size: 15px;
  color: grey;
  line-height: 1.6;
}
/* Navegación */
nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: gray;
}

/* Recuadro del saludo */
.saludo-caja {
  margin: 30px auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #fdfdfd;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  width: 80%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

/* Contador de visitas */
.contador {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px 8px;
  border: 3px solid black;
  background-color: rgb(100, 192, 189);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: block;
  width: fit-content;
  border-radius: 8px;
}

/* Pie de página */
footer.pie {
  margin-top: 5%;
  font-size: 10px;

  text-align: center;
}

/* Iconos finales */
.iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.iconos img {
  width: 30px;
  height: 30px;
}

/* YO.HTML */
body.yo {
  background-image: url("imagenes/yo_fondo.jpg");
  background-size: cover;
  /*background-position: center;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

body.yo h1 {
  text-align: left;
  width: 15%;
  max-width: 1000px;
  margin: 40px ;
}
.contenido-yo {
   display: flex;
   gap: 30px;
   padding: 30px;
   align-items: start; /* o flex-start*/
}

/*
.descripcion {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
*/
.descripcion {
  flex: 1;
}

.descripcion p {
  width: 600px; /* doble del ancho antes 300px */
  text-align: justify;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}

.imagen-yo {
  flex: 1;
  align-self: flex-start; /* Esto asegura que la imagen se mantenga al lado */
}

.imagen-yo img {
  
  width: 250px; /* tamaño del cuadro de la imagen*/
  height: auto;
  border: 5px solid black;
  /* margin-top: 10px;*/
  /*display: block; */
}

.info {
  font-size: 20px;
}

.base-descripcion {
  width: 820px; /* o un valor fijo como 700px */
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-radius: 8px;
  text-align: justify;
  font-size: 15px;
  font-family: 'Roboto';
}



/* HOBBY.HTML */
body.hobby {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: white;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;


}

/*  links */

body.links {
  background-image: url("imagenes/links_fondo.jpg");
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; /* Alinea todo a la izquierda */
  gap: 20px;
  max-width: 400px;
  height: 400px;
  margin: 50px 0 50px 50px; /* Despega del borde izquierdo */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.lista-links a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: goldenrod; /* Contraste con fondo azul */
}

.lista-links a:hover {
  color: whitesmoke; /* Color llamativo al pasar el mouse */
}
/*  contacto */

body.contacto {
  background-image: url("imagenes/fondo_contacto.jpg");
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(104, 9, 9);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; /* Alinea todo a la izquierda */
  gap: 20px;
  max-width: 400px;
  height: 400px;
  margin: 50px 0 50px 50px; /* Despega del borde izquierdo */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}


